<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Registration Form | SIH </title>
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
   </head>
<body>
    <img class="imge phon img2" src="{% static "images/SIH 2022.png" %}" alt="" />
    <img class="imge phon img4" src="{% static "images/byte-code.svg" %}" alt="" />
    <img class="imge img1" src="{% static "images/ii.png" %}" alt="" />
    <img class="imge phon img3" src="{% static "images/gfg-logo.png" %}" alt="" />
  <div class="container">
    <p class='note'><b>Note:</b> Minimum 4 members are required to participate as a Team.</p>
    <div class="title">Smart India Hackathon Registration</div>
    <div class="description">Powered by GeeksForGeeks Student Chapters CUH and ByteCode Learners</div>
    <div class="content">
      <a class="teamreg" href="{% url 'register' %}">Register as Team</a>
      <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="user-details">

          <div class="input-box">
            <span class="details">Name*</span>
            <div class="col-md-4 form-input">
                {{ form.name }}
              </div>
          </div>
          
          <div class="input-box">
            <span class="details">Roll No.*</span>
            <div class="col-md-4 form-input">
                {{ form.rollno }}
              </div>
          </div>

          <div class="input-box">
            <span class="details">Email*</span>
            <div class="col-md-4 form-input">
                {{ form.email }}
              </div>
          </div>

          <div class="input-box">
            <span class="details">Phone Number*</span>
            <div class="col-md-4 form-input">
                {{ form.contact }}
              </div>
          </div>
          
          <div class="input-box">
            <span class="details">Department*</span>
            <div class="col-md-4 form-input">
                {{ form.department }}
              </div>
          </div>

          <div class="input-box">
            <span class="details">Github Link*</span>
            <div class="col-md-4 form-input">
                {{ form.gitLinkedinLink }}
              </div>
          </div>
          
        </div>
        
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
      
    </div>
  </div>

</body>
</html>
